@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
 
#nav {
  background-color: #fa8128;
  box-sizing: border-box;
  border: 1px solid #fff;
  width: 100%;
  height:70px;
  padding: 10px 20px;
    
}

#nav ul {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

#nav ul li {
    list-style-type: none;
    line-height: 20px;
    padding: 10px 30px;
    font-weight: 700;
}

#nav ul li a {
    text-decoration: none;
    color: black;
}

#nav ul li:hover {
    background-color: rgba(58, 138, 18, 1);
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    transition: ease;
}

.container {
  background: url('../images/teacher.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 50px;
  padding-left: 50px;
  border-bottom: 1px solid black;
}

.about-text {
  max-width: 350px;
  margin-top: 5px;
  padding-top: 150px;
  padding-bottom: 100px;
}

.header-text button {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 20px;
}

.square {
  height: 20px;
  width: 20px;
  display: inline-blocK;
  background-color: #fa8128;
  margin: 15px 0;
}

.common-button {
  padding: 15px 15px;
  margin-left: 2%;
  background: transparent;
  outline: none;
  border: 2px solid #fa8128;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
}

p {
  font-size: 15px;
  line-height: 18px;
  color: black;
}

.line-1 {
  width: 20px;
  height: 20px;
  background: #fa8128;
  display: inline-block;
  margin-top: 15px;
}
.line-2 {
  width: 100px;
  height: 2px;
  background: #fa8128;
  display: inline-block;
}

.line-3 {
  width: 80px;
  height: 2px;
  background: #fa8128;
  display: inline-block;
}

.line {
  line-height: 8px;
}

#about button {
    animation: myAnim 2s ease 1s 5 normal forwards;
    cursor: pointer;
  }

  @keyframes myAnim {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
}

#about button a {
  text-decoration: none;
  color: black;
}

#features {
  padding: 50px 0;
  margin-top: 10px;
}

.f-row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}

.f-col {
  flex-basis: 25%;
  text-align: center;
  line-height: 2;
}

.f-col h1 {
  margin-bottom: 5px;
}

#media {
  margin: 0 auto;
  background-color: #82b479;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#media h2 {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

#media iframe {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-bottom: 50px;
}

iframe {
  display: block;
}

#mission {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.mission-container {
  background: url('../images/classroom.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.mission-text {
  max-width: 250px;
  padding-top: 75px;
  padding-bottom: 50px;
  padding-left: 25px;
}

.mission-text h2 {
  font-size: 15px;
}

#mission button {
  animation: myAnim 2s ease 1s 5 normal forwards;
  cursor: pointer;
}

@keyframes myAnim {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

#mission button a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 15px 75px 30px 75px;
  padding: 25px 25px;
}

.flex h4 {
  color: #fa8128;
}

.social-icons-nav {
  width: 40px;
  position: fixed;
  right: 0%;
  top: 25%;
  z-index: 1;
  background: #82b579;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -4px 3px 8px 0px grey;
}

.social-icons-nav a {
  text-decoration: none;
}

.social-icons-nav a img {
  display: block;
  cursor: pointer;
  margin: 0 auto 50px;
}

/* Courses page */

.headings {
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: fit-content;
}

#web-courses, #arts-courses, #cooking-courses, #personal-courses, #photo-courses {
  height: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin: 0 auto; 
}

.container-courses {
  height: 250px;
  width: 200px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 25px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container-courses img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-courses h4 {
  padding: 2%;
}

#registration-reminder {
  margin-left: 30px;
  margin-bottom: 50px;
}

/* Registration page */

#register {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.register-right, .register-left {
  flex-basis: 40%;

}

.register-right img {
  width: 80%;
  border-radius: 50%;
  margin-top: 50px;
}


form {
  max-width: 550px;
  margin-top: 50px;
  margin-left: 50px;
}
form h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

form input {
  height: 30px;
  width: 60%;
  margin: 15px 10px 20px;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 2px 0px #fa8128, inset 2px 2px 10px 0px #fa8128, 2px 2px 10px 2px rgba(250, 129, 40, 0.5); 
  box-shadow: 2px 2px 2px 0px #fa8128, inset 2px 2px 10px 0px #fa8128, 2px 2px 10px 2px rgba(250, 129, 40, 0.5);
  outline: none;
  border: none;
  border-radius: 25px;
  text-align: center;
}

form label {
  font-weight: bold;
  margin-right: 5px;
}

#submit-btn {
  background: transparent;
  outline: none;
  border: 2px solid #fa8128;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
}

/* Plans page */

#plans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

#plans div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 400px;
  box-sizing: border-box;
  border: 1px solid #fa8128;
  margin: 25px;
  box-sizing: border-box;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 20px;
}

#plans div:hover {
  border-color: #82b579;
  box-shadow: rgb(130, 181, 121) 0px 20px 30px -10px;
  cursor: pointer;
}

#plans div p {
  padding-left: 10px;
  padding-right: 10px;
}

  #plans-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#plans-button button {
  width: 200px;
  margin: 0 auto;
}

#plans-footer {
  border-top: 1px solid #82b579;
  position: absolute;
  bottom: 5%;
  margin: 0 200px;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {

  #web-courses, #arts-courses, #cooking-courses, #personal-courses, #photo-courses {
    height: 160px;
  }
  
  .container-courses {
    height: 150px;
    width: 150px;
  }
  
  .container-courses h4 {
    padding: 5%;  
  }

  #plans-footer {
    margin: 0 100px;
  }
}

@media only screen and (max-width: 768px) {
  .about-text {
    padding-top: 30px;
  }

  .about-text h1 {
    font-size: 14px;
  }

  .about-text p {
    font-size: 12px;
    max-width: 200px;
  }

  .container {
    background-size: 70%;
    background-position-x: right;
  }

  #media iframe {
    width: 500px;
    height: 250px;
    margin: 0 auto;
    padding-bottom: 50px;
}

#web-courses, #arts-courses, #cooking-courses, #personal-courses, #photo-courses {
    height: 160px;
  }

  .container-courses {
    height: 160px;
    width: 120px;
  }

  .container-courses h4 {
    padding: 5%;  
  }

  #plans-footer {
    margin: 0 25px;
  }

  #register h2 {
    font-size: 14px;
  }

  .register-right img {
    margin-top: 150px;
  }

  .mission-container {
    background: url(../images/teacher-green.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 50px;
    margin-left: 20px;
  }

  .mission-text h1 {
    font-size: 14px;
  }

  .mission-text h2 {
    font-size: 12px;
  }

  .mission-text p {
    font-size: 11px;
  }

  .flex {
    margin: 15px 25px;
    padding: 50px;
  }

  #plans div {
    height: 300px ;
  }

  form {
    margin-left: 0;
  }

  form label {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  #nav {
    height: 50px;
    font-size: 10px;
    width: 100%;
  }

  #nav ul li {
  line-height: 0;
  padding: 10px 20px;
  font-weight: 400;
  }

  .container {
    padding: 0;
  }

  .about-text {
    padding-bottom: 65px;
    max-width: 100%;
  }

  .about-text p {
    max-width: 100%;
  }

  .container {
    background-size: 70%;
    background-position: bottom right;
  }

  .f-row {
    display: flex;
    flex-direction: column;
  }

  .f-col {
    margin: 10px;
    padding: 10px;
  }

  #media iframe {
    width: 100%;
  }

  #features {
    padding: 10px;
    font-size: 12px;
  }

  .mission-container {
    height: 400px;
    background-size: 60%;
    background-position: bottom right;
    margin: 10px;
  }

  .mission-text {
    padding: 10px;
    max-width: 100%;
  }

  .flex {
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px;
    padding: 5px;
    margin: 10px;
    width: 90%;
  }

  .social-icons-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
    width: 90%;
    height: 20px;
    padding: 15px;
  }

  .social-icons-nav a img {
    height: 20px;
    width: 20px;
  }

}