@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

#logo {
  float: left;
  height: 90%;
  text-transform:uppercase;
  margin-left: 10px;
}

#logo a {
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(../images/back.png);
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
 
#nav {
  background-color: #fa8128;
  box-sizing: border-box;
  width: 100%;
  height:40px;
}

#nav ul {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

#nav ul li {
    list-style-type: none;
    padding: 10px 30px;
    font-weight: 700;
}

#nav ul li a {
    text-decoration: none;
    color: #fff;
}

#nav ul li:hover {
    background-color: rgba(58, 138, 18, 1);
    border-radius: 5px;
    cursor: pointer;
    transition: ease;
}

.container {
  background: url('../images/teacher.jpeg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 80%;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 50px;
  padding-left: 50px;
  border-bottom: 1px solid black;
}

.about-text {
  max-width: 350px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-text h2 {
  font-size: 20px;
}

.square {
  height: 20px;
  width: 20px;
  display: inline-blocK;
  background-color: #fa8128;
  margin: 15px 0;
}

.common-button {
  padding: 10px 10px;
  margin-left: 2%;
  background: #fff;
  outline: none;
  border: 2px solid #fa8128;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  color: black;
}

p {
  font-size: 15px;
  line-height: 18px;
  color: black;
}

.line-1 {
  width: 20px;
  height: 20px;
  background: #fa8128;
  display: inline-block;
  margin-top: 15px;
}
.line-2 {
  width: 100px;
  height: 2px;
  background: #fa8128;
  display: inline-block;
}

.line-3 {
  width: 80px;
  height: 2px;
  background: #fa8128;
  display: inline-block;
}

.line {
  line-height: 8px;
}

#about a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  }

.features {
  padding: 50px 0;
  margin-top: 15px;
}

.f-row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}

.f-col {
  flex-basis: 25%;
  text-align: center;
  
}

.f-col span, .f-col h1, .f-col p {
  line-height: 30px;
}

.f-col i {
  font-size: 50px;
}

#media {
  margin: 0 auto;
  background-color: #82b479;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#media h2 {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

#media iframe {
  width: 1000px;
  height: 500px;
  border: none;
  margin: 0 auto;
  padding-bottom: 50px;
}

iframe {
  display: block;
}

#mission {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.mission-container {
  background: url('../images/classroom.jpeg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 600px;
}

.mission-text {
  max-width: 250px;
  padding-top: 75px;
  padding-bottom: 50px;
  padding-left: 25px;
}

.mission-text h2 {
  font-size: 15px;
}

#mission a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding: 7px 15px;
  margin-left: 15%;
}

#mission a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #fa8128;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0px 75px 30px 75px;
  padding-top: 15px ;
}

.flex h3 {
  color: black;
}

.flex small {
  color: black;
}

#copyright {
  text-align: center;
  padding-bottom: 10px;
  color: black;
}

#index-footer {
  background-color: #fabc6a;
}

.social-icons-nav {
  width: 40px;
  position: fixed;
  right: 0%;
  top: 25%;
  z-index: 1;
  background: #82b579;
  padding: 10px;
  border-radius: 15px 0px 0px 15px;
  box-shadow: -4px 3px 8px 0px grey;
}

.social-icons-nav a {
  text-decoration: none;
}

.social-icons-nav a img {
  display: block;
  cursor: pointer;
  margin: 0 auto 50px;
}

/* Courses page */

.headings {
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: fit-content;
}

#web-courses, #arts-courses, #cooking-courses, #personal-courses, #photo-courses {
  height: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin: 0 auto; 
}

.container-courses {
  height: 250px;
  width: 200px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 25px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container-courses img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-courses h4 {
  padding: 2%;
}

#registration-reminder {
  margin-left: 30px;
  margin-bottom: 50px;
}

#courses-footer h3, #courses-footer small, #courses-footer h5 {
  color: #fff;
}

/* Registration page */

#register {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 130px;
  border-bottom: 1px solid rgba(58, 138, 18, 1);
}

.register-right, .register-left {
  flex-basis: 40%;
  align-items: center;
  text-align: left;

}

.register-right img {
  width: 80%;
  border-radius: 50%;
  margin-top: 100px;
}


form {
  max-width: 550px;
  margin-top: 50px;
  margin-left: 50px;
}
form h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

form input {
  height: 30px;
  width: 60%;
  margin: 15px 10px 20px;
  padding: 5px;
  text-align: left;
  border: 1px solid #f78128;
}

form label {
  font-weight: bold;
  margin-right: 5px;
}

#subjects {
  padding: 10px;
  border: 1px solid #f78128;
}

#submit-btn {
  background: transparent;
  outline: none;
  border: 2px solid #fa8128;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  width: 250px;
  text-align: center;
}

#register-footer {
  background-color: #f78128;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 15px;
}

#register-footer h3, #register-footer small, #register-footer h5 {
  color: #fff;
}

/* Plans page */

#plans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
  
}

#column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#column-2 div {
  width: 500px;
  height: fit-content;
  box-sizing: border-box;
  border: 1px solid #fa8128;
  margin: 25px;
  box-sizing: border-box;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

#column-2 div h2, #column-2 div p, #column-2 div h3 {
  font-size: 14px;
}

#plans img {
  height: 50vh;
}

#plans-footer {
  border-top: 1px solid black;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f78128;
  margin: 0 auto;
}

.flex-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

#plans-footer h3, #plans-footer small, #plans-footer h5 {
  color: #fff;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {

  .container {
    background-size: 70%;
  }

  #web-courses, #arts-courses, #cooking-courses, #personal-courses, #photo-courses {
    height: 160px;
  }
  
  .container-courses {
    height: 150px;
    width: 150px;
  }
  
  .container-courses h4 {
    padding: 5%;  
  }

  #register {
    padding-bottom: 120px;
  }

  .register-right img {
    width: 100%;
    padding-top: 50px;
  }

  .mission-container {
    background-size: 70%;
    background-position: top right;
    height: 100%;
  }

  .mission-text {
    max-width: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
  }

  #plans {
    margin-left: 10px;
    margin-right: 10px;
    height: 100vh;

  }

  #plans-footer {
    position: relative;
    bottom: 0%;
  }

  .register-left {
    text-align: left;
  }

  form input {
    margin: 15px 0px 20px;
  }
  
  #subjects {
    margin-top: 15px;
    width: 63%;
  }

  #submit-btn {
    width: 180px;
    margin-top: 50px;
  }

}

@media only screen and (max-width: 768px) {
  .flex {
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .about-text {
    padding-top: 30px;
  }

  .about-text h1 {
    font-size: 14px;
  }

  .about-text p {
    font-size: 12px;
    max-width: 200px;
  }

  .container {
    background-size: 70%;
    background-position-x: right;
  }

  #media iframe {
    width: 500px;
    height: 250px;
    margin: 0 auto;
    padding-bottom: 50px;
}

#index-footer {
  background-color: #fa8128;
}

#index-footer h3, #index-footer small, #index-footer h5 {
  color: #fff;
}

#web-courses, #arts-courses, #cooking-courses, #personal-courses, #photo-courses {
    height: 160px;
  }

  .container-courses {
    height: 160px;
    width: 120px;
  }

  .container-courses h4 {
    padding: 5%;  
  }

  #register h2 {
    font-size: 14px;
  }

  .register-right img {
    margin-top: 100px;
    padding: 0;
  }

  .mission-container {
    background: url(../images/teacher-green.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 50px;
    margin-left: 20px;
  }

  .mission-text h1 {
    font-size: 14px;
  }

  .mission-text h2 {
    font-size: 12px;
  }

  .mission-text p {
    font-size: 11px;
  }

  #plans div {
    height: 300px ;
  }

  form {
    margin-left: 0;
  }

  form label {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
#logo {
    float: none;
    width: 100%;
    background-color: #fa8128;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

  #nav {
    font-size: 10px;
    width: 100%;
    height: fit-content;
  }

  #nav ul {
    float: none;
  }

  #nav ul li {
  line-height: 0;
  padding: 10px 20px;
  font-weight: 400;
  }

  .container {
    padding: 0;
  }

  .about-text {
    padding-bottom: 65px;
    max-width: 100%;
  }

  .about-text p {
    max-width: 85%;
  }

  .container {
    background-size: 70%;
    background-position: bottom right;
  }

  .f-row {
    display: flex;
    flex-direction: column;
  }

  .f-col {
    margin: 10px;
    padding: 10px;
  }

  #media iframe {
    width: 100%;
  }

  .features {
    padding: 0px;
    font-size: 12px;
  }

  .mission-container {
    height: 400px;
    background-size: 55%;
    background-position: bottom right;
    margin: 10px;
  }

  .mission-text {
    padding: 10px;
    max-width: 85%;
  }

  #mission a {
    margin-left: 6%;
  }

  .flex {
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px;
    padding: 5px;
    margin: 10px;
    width: 90%;
  }

  #index-footer h5 {
    font-size: 10px;
  }

  #plans-button {
    margin-bottom: 70px;
  }

  #plans-footer {
    position: relative;
    bottom: 15%;
    }

  #plans div {
    height: 100px;
    width: 400px;
  }

  #plans-footer h3, #plans-footer small, #plans-footer h5 {
    font-size: 10px;
  }

  #web-courses, #arts-courses, #cooking-courses, #personal-courses, #photo-courses {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .container-courses {
    width: 250px;
    height: 80px;
    margin: 5px;
    box-sizing: initial;
    box-shadow: none;
  }

  .container-courses img {
    display: none;
  }

  #courses-footer h5 {
    font-size: 10px;
  }

  #column-1 {
    display:none;
  }

  #column-2 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      align-content: center;
  }

  #column-2 div {
    height: fit-content;
  }

  form input {
    width: 80%;
  }

  .register-right img {
    width: 100%;
    margin-top: 125px;
  }

  #register {
    padding-bottom: 30px;
    border-bottom: none;
  }

  #registration-reminder {
    margin-left: 10px;
    margin-bottom: 35px;
    max-width: 450px;
  } 

  #register-footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding-top: 0;
    ;
  }

  #register-footer h5 {
    font-size: 10px;
  }

  .social-icons-nav {
    background-color: transparent;
    opacity: 0.8;
    width: 40px;
    padding: 0;
  }

  .social-icons-nav a img {
    margin: 0 auto 25px;
  }
}